name: Docker CI

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
  schedule:
    - cron: "0 15 * * 0"

permissions: read-all

env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  dockerize:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c

      - name: Setup docker environment
        uses: ./.github/actions/docker-setup

      - name: Build container
        id: build
        uses: docker/build-push-action@c56af957549030174b10d6867f20e78cfd7debc5
        with:
          tags: ${{ env.IMAGE_NAME }}:alpha
          context: .
          outputs: type=docker,dest=/tmp/myimage.tar

      - name: Upload container image to artifact
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce
        with:
          name: myimage
          path: /tmp/myimage.tar
          retention-days: 1

  scan-trivy:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    needs: dockerize
    steps:
      - name: Checkout repository
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c

      - name: Setup docker environment
        uses: ./.github/actions/docker-setup

      - name: Download container image from artifact
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a
        with:
          name: myimage
          path: /tmp

      - name: Load container image
        run: docker load --input /tmp/myimage.tar

      - name: Scan container image by trivy
        uses: aquasecurity/trivy-action@8bd2f9fbda2109502356ff8a6a89da55b1ead252
        with:
          image-ref: "${{ env.IMAGE_NAME }}:alpha"
          format: "template"
          template: "@/contrib/sarif.tpl"
          output: "trivy-results.sarif"
          severity: "CRITICAL,HIGH"

      - name: Publish trivy report to GitHub Security
        uses: github/codeql-action/upload-sarif@32dc499307d133bb5085bae78498c0ac2cf762d5
        with:
          sarif_file: "trivy-results.sarif"

  scan-grype:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    needs: dockerize
    steps:
      - name: Checkout repository
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c

      - name: Setup docker environment
        uses: ./.github/actions/docker-setup

      - name: Download container image from artifact
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a
        with:
          name: myimage
          path: /tmp

      - name: Load container image
        run: docker load --input /tmp/myimage.tar

      - name: Scan container image by grype
        id: grype-image
        uses: anchore/scan-action@dafbc97d7259af88b61bd260f2fde565d0668a72
        with:
          image: "${{ env.IMAGE_NAME }}:alpha"
          severity-cutoff: low
          fail-build: false
          acs-report-enable: true

      - name: Publish grype report to GitHub Security
        uses: github/codeql-action/upload-sarif@32dc499307d133bb5085bae78498c0ac2cf762d5
        with:
          sarif_file: ${{ steps.grype-image.outputs.sarif }}

  sast-grype:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c

      - name: Scan Dockerfile by grype
        id: grype-files
        uses: anchore/scan-action@dafbc97d7259af88b61bd260f2fde565d0668a72
        with:
          path: "."
          severity-cutoff: low
          fail-build: false
          acs-report-enable: true

      - name: Publish grype report to GitHub Security
        uses: github/codeql-action/upload-sarif@32dc499307d133bb5085bae78498c0ac2cf762d5
        with:
          sarif_file: ${{ steps.grype-files.outputs.sarif }}

  sast-hadolint:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c

      - name: Scan Dockerfile by hadolint
        uses: hadolint/hadolint-action@f988afea3da57ee48710a9795b6bb677cc901183
        with:
          recursive: true
          format: sarif
          output-file: hadolint-results.sarif
          no-fail: true

      - name: Publish hadolint report to GitHub Security
        uses: github/codeql-action/upload-sarif@32dc499307d133bb5085bae78498c0ac2cf762d5
        with:
          sarif_file: hadolint-results.sarif
          wait-for-processing: true
